<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Root Menu Item -->
        <menuitem id="menu_quan_ly_cham_cong_luong_root"
                  name="Chấm công &amp; Lương"
                  sequence="10"/>

        <!-- Submenus -->
        <menuitem id="submenu_hr_cham_cong"
                  name="Chấm công hàng ngày"
                  parent="menu_quan_ly_cham_cong_luong_root"
                  action="action_hr_cham_cong"
                  sequence="10"/>

        <menuitem id="submenu_hr_luong_co_ban"
                  name="Cấu hình lương cơ bản"
                  parent="menu_quan_ly_cham_cong_luong_root"
                  action="action_hr_luong_co_ban"
                  sequence="20"/>

        <menuitem id="submenu_hr_khen_thuong_ky_luat"
                  name="Quyết định Thưởng/Phạt"
                  parent="menu_quan_ly_cham_cong_luong_root"
                  action="action_hr_khen_thuong_ky_luat"
                  sequence="30"/>

        <menuitem id="submenu_hr_phieu_luong"
                  name="Phiếu lương tháng"
                  parent="menu_quan_ly_cham_cong_luong_root"
                  action="action_hr_phieu_luong"
                  sequence="40"/>
    </data>
</odoo>
